@charset "UTF-8";

@import url("https://use.typekit.net/wau8dks.css");

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor0:#D8F3DC;
    --cor1:#40916C;
    --cor2:#1B4332;


    --cor3:#F8F9F3;
    --cor4:#343A40;
    --cor5:#133024;

    --font-titulo:"adlam-display", sans-serif;
    --font-destaque: "Playfair Display", serif;
    --font-principal:"Roboto Mono", monospace;
    
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-principal);
    width: 100vw;
}

.destaque{
    font-family: var(--font-titulo);
    font-weight: bolder;
    color: var(--cor1);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199) ;
}

header{
    background-color: white;
    padding: 10px;
    padding-right: 0;
    padding-left: 0; 
    height: 60px;
    display: flex;
    gap: 280px ;

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
header h1{
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 100px;
    font-family: var(--font-titulo);
    
}

nav{
    display: inline-block;
    margin-top: 10px;
    display: flex;
    gap: 16px;
}   
nav a{
    text-decoration: none;
    color: var(--cor4);
    font-size: 1.2em;
    font-weight: bold;   
    padding: 10px;
    border-radius: 15px;
    height: 25px;
}
nav > a:hover{
    transform: translate(-3px, -2px);
    transition: 0.3s;
    color: var(--cor0);
    background-color: var(--cor1); 
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.397);
}

#entrarConta{
    display: inline-block;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--cor1);
    border: none;
    border-radius: 15px;
    position: fixed;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.397); 
}
#entrarConta:hover{
    background-color: #63c297;
    color: #343A40;
    transition: 0.6s;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.397);   
}

.hero{
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor2));
    padding: 10px;
    padding-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 0 90%);
    min-height: 550px;
}

.hero h2{
    color: white;
    margin-bottom: 20px;
    font-family: var(--font-destaque);
}
.hero img{
    width: 700px;
    height: 400px;
    border-radius: 15px 0px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.445);
    margin-bottom: 60px;
}
.hero h1{
    background-color: var(--cor0);
    margin-bottom: 16px;
    border-radius: 10px;
    padding: 10px;
}

.container{
    display: flex;
    gap: 60px;
    margin: auto;
    width: 87%;
}
.container > div{
    padding-top: 60px;
}
.container p {
    color: white;
    margin-top: 10px;
}

#logo{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    display: inline-block;
}

#nEmail{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.411);
    padding: 10px;
    width: 240px;
    height: 100%;
    border-radius: 6px;
}

#botao-criar{
    background-color: white;
    padding: 10px;
    width: 389px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.438);
}

#botao-criar button{
    background-color: var(--cor1);
    border-radius: 16px;
    padding: 13px;
    border: none;
    font-size: 1em;
    font-weight: bold;
    color: white;
}
#botao-criar button:hover{
    background-color: #63c297;
    color: #343A40;
    transition: 0.6s;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.397); 
}

#botao-entrar{
    position: absolute;
    top: 10%;
    left: 60%;
}
#botao-entrar > p{
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    color: var(--cor4);
    font-size: 1.1em;
    
}

hr{
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

section#introducao{
    text-align: center;
    padding: 10px;
    width: 800px;
    margin: auto;
    font-size: 1.3em;
    margin-bottom: 90px;
}

#introducao ul{
    list-style: white;
    list-style-position: inside;
}
#introducao li{
    margin: 10px;
    padding: 10px;
    background-color: var(--cor5);
    color: white;
    text-align: left;
    border-radius: 10px;
    list-style-type: disc;
}
#introducao p{
    padding: 10px;
}

#introducao h2{
    padding: 10px;
    font-size: 1.9em;
}

section#funcionamento{
    padding: 10px;
    text-align: center;
    font-size: 1.3em;
    background-color: var(--cor1);
    padding-bottom: 60px;
}
#funcionamento h1{
    font-family: var(--font-titulo);
    margin-top: 50px;
    margin-bottom: 10px;
}
#funcionamento h2{
    margin-bottom: 10px;
    font-family: var(--font-titulo);
}

.card{
    margin: 30px;
    display: block;
    width: 280px;
    background-color: var(--cor0);
    padding: 20px;
    border-radius: 10px 0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.493);
}
.bloco{
    display: inline-block;
    margin: auto;
}
section#financeiro{
    background-color: var(--cor3);
    padding: 10px;
    padding-top: 90px;
}
#financeiro h1 {
    text-align: center;
    font-family: var(--font-titulo);
    margin-bottom: 30px;
    font-size: 2.6em;
    text-decoration: underline;
}

table{
    border-collapse: collapse;
    margin: auto;
    width: 700px;
    padding: 10px;
    text-align: center;
    margin-bottom: 60px;
}
caption{
    margin: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 10px;
}

footer{
    padding: 10px;
    text-align: center;
}